
body {
  font-family: Helvetica, sans-serif;
}

.question-answers-choice,
.question-answers-estimate,
.question-answers-text {
  display: none;
}

.question.is-choice .question-answers-choice {
  display: block;
}

.question.is-estimate .question-answers-estimate {
  display: block;
}

.question.is-text .question-answers-text {
  display: block;
}

.question-answer-choice.is-correct,
.question-answer-estimate-btn.is-correct {
  background-color: green;
}

.question-answer-choice.is-wrong,
.question-answer-estimate-btn.is-wrong {
  background-color: red;
}
