
body {
  font-family: Helvetica, sans-serif;
}

.question-answers-choice,
.question-answers-estimate,
.question-answers-text,
.question-prompt,
.msg-awating-round {
  display: none;
}

.question.is-waiting .msg-awating-round {
  display: block;
}

.question.is-choice .question-prompt,
.question.is-estimate .question-prompt,
.question.is-text .question-prompt {
  display: block;
}

.question.is-choice .question-answers-choice {
  display: block;
}

.question.is-estimate .question-answers-estimate {
  display: block;
}

.question.is-text .question-answers-text {
  display: block;
}

.question-answer-estimate-btn.is-correct {
  background-color: green;
}

.question-answer-choice.is-pending,
.question-answer-estimate-btn.is-pending {
	background-color: #E1EFBC;
	border: 8px solid #678815 !important;
}

.question-answer-estimate-btn.is-wrong,
.question-answer-choice.is-picked.is-wrong {
  background-color: #ff3333;
}

.question-answer-choice.is-correct {
  background-color: #688722;
}

.question-prompt-text {
	font-size: 24pt;
	width: 1080px;
	padding-left: 10px;
	border-right: 10px solid #666;
	border-bottom: 10px solid #666;
}

.question-answer-choice.is-non-picked.is-correct {
	background-color: rgba(225,239,188,0.6);
	border: 6px solid rgba(103,136,21,0.6) !important;
}

.question-answer-choice {
	font-size: 18pt;
	background-color: rgba(225,239,188,0.5);
	border: 6px solid rgba(103,136,21,0.5) !important;
	width: 450px;
	margin-right: 60px;
	margin-bottom: 40px;
	height: 100px;
}

.question-answer-choice.is-non-picked {
  opacity: 0.5;
}

.question-answer-estimate-input {
	font-size: 20pt;
	background-color: rgba(225,239,188,0.5);
	border: 6px solid rgba(103,136,21,0.5) !important;
	width: 450px;
	margin-right: 60px;
	margin-bottom: 40px;
	height: 80px;
	padding-left: 20px;
}

.question-answer-estimate-btn {
	font-size: 20pt;
	background-color: #AEDFEE;
	border: 8px solid #00B9EF !important;
	width: 450px;
	margin-right: 60px;
	margin-bottom: 40px;
	height: 80px;
}

.question-answers {
	padding: 60px;
}

#timer {
	position: absolute;
	left: 30px;
	top: 495px;
	width: 1260px;
	height: 35px;
	background-color: #00B9EF;
	text-align: right;
	padding-top: 10px;
}

#timer_border {
	position: absolute;
	left: 30px;
	top: 495px;
	width: 1260px;
	height: 35px;
	border-top: 10px solid #666;
}

.timer-content {
  margin-right: 10px;
	color: #fff;
	font-weight: 900;
	font-size: 12pt;
}

.timer-wrong,
.timer-correct {
  width: 1260px;
  height: 25px;
  text-align: center;
  display: none;
}

.timer-correct {
  background-color: #688722;
}

.timer-wrong {
  background-color: #e10f21;
}

#timer.is-correct .timer-number,
#timer.is-wrong .timer-number {
  display: none;
}

#timer.is-correct .timer-correct,
#timer.is-wrong .timer-wrong {
  display: block;
}

.mainmenue-button {
	opacity: 0.9;
	color: black;
	height: 100px;
	margin-top: 200px;
	font: center;
}

.mainmenue-button:hover {
	opacity: 1.0;
}

.mainmenue-button-text, .mainmenue-button-text:hover {
	font-size: 24pt;
	font-weight: bold;
	margin-top: 13px;
	color: black;
	opacity: 1.0 !important;
}

.mainmenue-button-start {
	background-color: #E1EFBC;
	border: 8px solid #678815 !important;
}

.mainmenue-button-join {
	background-color: #AEDFEE;
	border: 8px solid #00B9EF !important;
}

.border {
	border: 10px solid #666;
	border-radius: 10px;
	margin: 20px;
	width: 1280px;
	height: 520px;
}

#roomcode {
	font-size: 14pt;
	position: absolute;
	left: 1100px;
	top: 30px;
	padding-left: 8px;
	padding-right: 20px;
	border-left: 10px solid #666;
	border-bottom: 10px solid #666;
}

div.centered {
	margin-top: 200px;
	margin-bottom: 130px;
	width: 100%;
	text-align: center;
}

div.centered-join {
	margin-top: 120px;
	margin-bottom: 130px;
	width: 100%;
	text-align: center;
}

span.menue-prompt {
	font-size: 20pt;
	font-weight: bold;
}

.input-green {
	font-size: 20pt;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: center;
	background-color: #E1EFBC;
	border: 8px solid #678815 !important;
}

.input-blue {
	font-size: 20pt;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: center;
	background-color: #AEDFEE;
	border: 8px solid #00B9EF !important;
}

#bottom-left-arrow {
	position: absolute;
	left: 40px;
	top: 450px;
}

#bottom-right-arrow {
	top: 450px;
	position: absolute;
	left: 1200px;
}

.arrow {
	padding: 5px;
	margin: 10px;
	background-color: #E1EFBC;
	border: 6px solid #678815 !important;
	border-radius: 25px;
}

.arrow-blue {
	padding: 5px;
	margin: 10px;
	background-color: #AEDFEE;
	border: 6px solid #00B9EF !important;
	border-radius: 25px;
}

.lobby-header {
	text-align: center;
	font-size: 36pt;
	font-weight: bold;
	color: #00B9EF;
}
