
body {
  font-family: Helvetica, sans-serif;
}

.question-answers-choice,
.question-answers-estimate,
.question-answers-text {
  display: none;
}

.question.is-choice .question-answers-choice {
  display: block;
}

.question.is-estimate .question-answers-estimate {
  display: block;
}

.question.is-text .question-answers-text {
  display: block;
}

.question-answer-choice.is-correct,
.question-answer-estimate-btn.is-correct {
  background-color: green;
}

.question-answer-choice.is-pending,
.question-answer-estimate-btn.is-pending {
  background-color: yellow;
}

.question-answer-choice.is-wrong,
.question-answer-estimate-btn.is-wrong {
  background-color: red;
}

.mainmenue-button {
	opacity: 0.9;
	color: black;
	height: 100px;
	margin-top: 200px;
	font: center;
}

.mainmenue-button:hover {
	opacity: 1.0;
}

.mainmenue-button-text, .mainmenue-button-text:hover {
	font-size: 24pt;
	margin-top: 13px;
	color: black;
	opacity: 1.0 !important;
}

.mainmenue-button-start {
	background-color: #85E047;
	border: 7px solid #387113 !important;
}

.mainmenue-button-join {
	background-color: #A4FBF9;
	border: 7px solid #09C4BF !important;
}

.border {
	border: 10px solid #666;
	border-radius: 10px;
	margin: 20px;
	width: 90%;
	height: 520px;
}
